@import url(//fonts.googleapis.com/css?family=Lato:300:400:500:600);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
.landing-body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  /* background: linear-gradient(
    60deg,
    rgb(150, 195, 246) 0%,
    rgb(219, 236, 255) 0%
  ); */
  overflow-x: hidden;
  background-image: url("../assets/sky_bg_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Animation */
}

.landing-body .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

.landing-body .heading h1 {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.landing-body .heading h2 {
  color: white;
}

.landing-body .heading h1,
.landing-body .heading h2 {
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 4rem;
}

.landing-body .heading a {
  text-decoration: none;
  color: white;
}

.landing-body .heading .pseudo-partial-border {
  text-transform: uppercase;
  font-weight: 400;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: relative;
  padding: 0.75em 2.5em;
  margin-top: 1em;
  border: none;
  text-align: center;
  cursor: pointer;
}

.landing-body .heading .pseudo-partial-border::before,
.landing-body .heading .pseudo-partial-border::after {
  position: absolute;
  width: 25%;
  height: 25%;
  content: "";
  -webkit-transition: width 250ms, height 250ms;
  transition: width 250ms, height 250ms;
}

.landing-body .heading .pseudo-partial-border::before {
  left: 0;
  top: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.landing-body .heading .pseudo-partial-border::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.landing-body .heading .pseudo-partial-border:hover::before,
.landing-body .heading .pseudo-partial-border:hover::after {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}

.landing-body p {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.landing-body nav {
  position: absolute;
  z-index: 1;
  padding: 1.5em 2em;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}

.landing-body nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-body nav .nav-container a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.landing-body nav .nav-container a + a {
  margin-left: 1em;
}

.landing-body nav .nav-container .line {
  height: 1px;
  width: 30vw;
  background-color: white;
  border-radius: 5px;
  margin-left: 1em;
}

.landing-body .header {
  position: relative;
  text-align: center;
  /* color: white; */
  background-color: rgba(1, 1, 66, 0.5);
  font-weight: 600;
  bottom: 0;
}

.landing-body .header img {
  position: absolute;
}

.landing-body .header .cloud1 {
  left: 50px;
  height: 250px;
  z-index: -1;
}

.landing-body .header .cloud2 {
  height: 175px;
}

.landing-body .header .cloud3 {
  bottom: 200px;
  right: 50px;
}

.landing-body .logo {
  width: 50px;
  fill: white;
  /* fill: rgb(6, 6, 122);s */
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.landing-body .inner-header {
  height: 75vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.landing-body .flex {
  /*Flexbox for containers*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing-body .wave-container {
  -webkit-transition: -webkit-transform 2.5s 250ms;
  transition: -webkit-transform 2.5s 250ms;
  transition: transform 2.5s 250ms;
  transition: transform 2.5s 250ms, -webkit-transform 2.5s 250ms;
  position: relative;
  z-index: 2;
}

.landing-body .wave-container .waves {
  position: relative;
  width: 100%;
  height: 27.5vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  /* max-height: 150px; */
}

.landing-body .content {
  position: relative;
  height: 25vh;
  text-align: center;
  /* background-color: white; */
  background-color: transparent;
}

.landing-body .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.landing-body .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.landing-body .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.landing-body .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.landing-body .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .landing-body .waves {
    height: 40px;
    min-height: 40px;
  }
  .landing-body .content {
    height: 30vh;
  }
  .landing-body h1 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=landing.css.map */