@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#option-body {
  transition: transform 2.5s 250ms;
  position: relative;
  z-index: 2;
  height: 102.5vh;
  //   width: 100vw;
  // background-color: rgb(19, 25, 190);
  background: linear-gradient(rgb(8, 69, 113), rgb(5, 41, 67));
  // .light-ray {
  //   width: 25px;
  //   height: 50vh;
  //   background: linear-gradient(
  //     rgba(150, 195, 246, 0.5),
  //     rgba(219, 236, 255, 0)
  //   );
  //   backdrop-filter: blur(100px);
  // }
  a {
    text-decoration: none;
    color: white;
  }
  .up {
    @include center();
    top: 25%;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .options {
    @include center();

    @include flex(center);
    a {
      @include flex(center);
      flex-direction: column;
      font-size: 1.25rem;
      font-weight: 400;
      div {
        border: 1px solid black;
        border-radius: 50%;
        @include flex(center);
        width: 2.5em;
        height: 2.5em;
      }
    }
    a + a {
      margin-left: 5em;
    }
  }
}
